@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,600;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;